.chatFooter {
  padding: 1vh;
}

.textField {
  padding: 2vh;
  width: 34vw;
  border-radius: 2vh;
}

.sendButton {
  padding: 2vh;
}

@media screen and (max-width: 600px) {
  .textField {
    width: 75vw;
  }
}
