.chatbox {
  position: absolute;
  bottom: 19vh;
  right: 2vw;
  border: 1px solid red;
  width: 30vw;
  height: 70vh;
  transition: all 0.3s;
}

.chatHeader {
  position: relative;
}

.chatContent {
  border: 2px solid black;
  height: 45vh;
}
